@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a,
button,
h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  justify-content: space-between;
  background-color: #1b2452;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px 5px 50px;

}

.main {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
a {
 text-decoration: none; 
}

button {
  background-color: #3778db;
  border: none;
  border-radius: 5px;
}
